<div class="row">

  <div class="row-md-6">
    <form name="form" novalidate>
      <fieldset>
        <div class="col-md-11">
          <textarea id="text-input" rows="3" placeholder="Enter your message ..." data-ng-model="message.text" required>
          </textarea>
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary" data-ng-click="sendMessage()" data-ng-disabled="form.$invalid">POST</button>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="row-md-6 messages">
    <h4 data-ng-init="getMessages()">Chat:</h4>
    <div data-ng-repeat="msg in messages">
      <div class="username">{{ msg.username }}</div>
      <div class="text">{{ msg.text }}</div>
    </div>
  </div>

</div>
